<template lang="pug">
.menu-button(
	:class="{ open: isOpen }"
	@click="isOpen = !isOpen"
	:style="style"
)
	.bar
</template>

<script>
export default {
  name: 'menu-button',
  data() {
    return {
			isOpen: true
    }
	},
	computed: {
		style() {
			return {
				'--width': this.width
			}
		}
	}
}
</script>

<style lang="stylus" scoped>
@import 'nib'
@import '../../stylus/_config/_easing'

--width = 320px
--color = #222
--border-width = 15%

.menu-button
	display: flex
	align-content: space-between
	flex-wrap: wrap
	width: --width
	height: @width * .79
	background-color: #eee
	&.open
		&::before
		.bar
		&::after
			left: 15%
		&::before
			transform: rotate(45deg)
		.bar
			opacity: 0
			transform: translateX(25%)
		&::after
			transform: rotate(-45deg)
.menu-button::before
	transform-origin: left top
.menu-button::after
	transform-origin: left bottom
.bar
.menu-button::before
.menu-button::after
	content: ''
	display: block
	position: relative
	left: 0
	width: 100%
	height: --border-width
	background-color: --color
	transition: .5s ease-out-expo
</style>
